---
const title = "Indicadores Ambientales";
---

<section
    class="bg-blanco relative flex justify-center items-center text-center"
    style="background: url('/images/bg/section-bg.svg') no-repeat center/cover; min-height: 400px;"
>
    <div class="max-w-[1200px] mx-auto p-md z-2">
        <h2
            class="font-heading text-blanco text-xxl text-bold leading-snug"
            style="text-shadow: 1px 1px 3px rgba(0,0,0,0.6);"
        >
            {title}
        </h2>
    </div>
</section>
