---
const title = "Geo - Servicios";
---

<section class="title-section flex items-center justify-center text-center">
    <div class="container p-md">
        <h2 class="text-blanco text-xxl text-bold">{title}</h2>
    </div>
</section>

<style>
    /* Fondo de la sección */
    .title-section {
        background: url("/images/svg/section_geo.svg") no-repeat center center;
        background-size: cover;
        min-height: 400px;
        position: relative;
    }

    /* Contenedor */
    .title-section .container {
        max-width: 1200px;
        margin: 0 auto;
        z-index: 2;
    }

    .text-shadow {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
</style>
