---
const text = 'El Observatorio Ambiental es una plataforma para el monitoreo, análisis y difusión de información ambiental. Nuestro objetivo es brindar datos confiables para la toma de decisiones y la concientización ciudadana.';
import "../../styles/home/home.css";
---

<section class="banner-about">
  <div class="container">
    <div class="content">
      <p>{text}</p>
    </div>
  </div>
  
  <!-- SVGs decorativos -->
  <img src="/images/svg/tucan.svg" class="toucan" alt="Tucán" />
  <img src="/images/svg/leon.svg" class="chameleon" alt="Camaleón" />
  <img src="/images/svg/plantas.svg" class="leaves-left" alt="Hojas izquierda" />
  <img src="/images/svg/plantas_2.svg" class="leaves-right" alt="Hojas derecha" />
</section>
